.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.this-will-not-be-read{
  display: none !important;
}
li {
  background-color: yellow;
}

/*.partial_hidden {
  display:none;
}*/
